<p id="notice"><%= notice %></p>

<p>
  <strong>学院名称:</strong>
  <%= @college.name %>
</p>

<p>
  <strong>描述:</strong>
  <%= @college.desc %>
</p>

<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
